.input-container {
    position: relative;
    display: inline-block;
    margin-left: 33%;
    margin-top: 7%;
  }
  
  input[type="text"] {
    padding-right: 30px; 
    width: 400px;
    height: 30px;
    font-size: 14px;
  }
  
  .clear-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    color: gray;
  }
  
  .clear-button:hover {
    color: black;
  }
  
  input{
    border-radius: 8px;
  }

